<html lang="en" data-a11y-animated-images="system" data-turbo-loaded="">
<head>
    <style type="text/css">.turbo-progress-bar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: #0076ff;
  z-index: 2147483647;
  transition:
    width 300ms ease-out,
    opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
}
</style>
    <meta charset="utf-8">

    <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/primer-c581c4e461bb.css">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/global-0e278d45156f.css">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/github-dcaf0f44dbb1.css">
  <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/dashboard-74d536a2af1a.css">
<link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/site-2f61d41ff9ad.css">
<link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/home-3bba68f788b5.css">


  </head>
<body>
<div class="application-main " data-commit-hovercards-enabled="" data-discussion-hovercards-enabled="" data-issue-and-pr-hovercards-enabled="">




<div class="overflow-hidden" data-color-mode="dark" data-light-theme="light" data-dark-theme="dark">
  <div class="container-xl position-relative">
    <picture>
        <source media="(max-width: 768px)" type="image/webp" srcset="https://github.githubassets.com/images/modules/site/home-campaign/hero-bg-md.webp 1x, https://github.githubassets.com/images/modules/site/home-campaign/hero-bg.webp 2x">
        <source media="(min-width: 1280px)" type="image/webp" srcset="https://github.githubassets.com/images/modules/site/home-campaign/hero-bg.webp 1x, https://github.githubassets.com/images/modules/site/home-campaign/hero-bg-2x.webp 2x">

      <img alt="" aria-hidden="true" width="4377" class="position-absolute top-0 events-none" style="right: -1050px; max-width: calc(230vw + 1670px)" src="https://github.githubassets.com/images/modules/site/home-campaign/hero-bg.webp">
    </picture>
  </div>

  <div class="px-3 home-campaign-hero">
  <div class="position-relative pt-3 pt-md-8 pt-lg-12 container-xl js-build-in-trigger build-in-animate" data-hpc="">
    <img src="https://github.githubassets.com/images/modules/site/home-campaign/hero-drone.webp" alt="" class="home-drone position-absolute top-12 right-0 events-none col-3 height-auto js-build-in-item build-in-animate" width="500" height="326">

    <div class="d-flex">
      <div class="col-1 d-flex flex-column events-none position-relative">

        <img alt="" aria-hidden="true" class="home-campaign-lines-hero position-relative" width="437" height="637" src="https://github.githubassets.com/images/modules/site/home-campaign/lines-hero.svg">

        <div class="mx-auto my-3 home-campaign-glowing-icon">

          <div class="position-relative d-inline-block z-1">

            <svg aria-hidden="true" height="24" viewBox="0 0 24 24" version="1.1" width="24" data-view-component="true" class="octicon octicon-code">
    <path d="M15.22 4.97a.75.75 0 0 1 1.06 0l6.5 6.5a.75.75 0 0 1 0 1.06l-6.5 6.5a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L21.19 12l-5.97-5.97a.75.75 0 0 1 0-1.06Zm-6.44 0a.75.75 0 0 1 0 1.06L2.81 12l5.97 5.97a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-6.5-6.5a.75.75 0 0 1 0-1.06l6.5-6.5a.75.75 0 0 1 1.06 0Z"></path>
</svg>

          </div>
        </div>

        <div style="background: linear-gradient(#d2a8ff, #a371f7 10%, #196c2e 70%, #2ea043 80%, #56d364);" class="home-campaign-git-line height-full rounded mx-auto"></div>
      </div>


    </div>
  </div>
</div>

  <div class="position-absolute">
    <div class="sub-nav-mktg js-toggler-container z-3 js-position-sticky top-0 width-full init-hidden scrollnav is-placeholder" data-original-top="0px" style="visibility: hidden; display: none; height: 80px; top: 0px !important;"></div><div class="sub-nav-mktg js-toggler-container z-3 js-sticky js-position-sticky top-0 width-full init-hidden scrollnav" data-original-top="0px" style="top: 0px !important; position: static;">
    <div class="sub-nav-mktg-wrapper d-flex flex-items-center py-3 p-responsive container-xl">




      <div class="sub-nav-mktg-links flex-auto f4-mktg d-flex flex-column flex-lg-row gap-4">
          <a class="sub-nav-mktg-link Link--primary no-underline py-1 py-lg-2 js-scrollnav-item js-smoothscroll-anchor selected" data-analytics-event="{&quot;category&quot;:&quot;Homepage&quot;,&quot;action&quot;:&quot;click item to scroll to Productivity&quot;,&quot;label&quot;:&quot;ref_cta:Productivity;&quot;}" href="#productivity">Productivity</a>
          <a class="sub-nav-mktg-link Link--primary no-underline py-1 py-lg-2 js-scrollnav-item js-smoothscroll-anchor" data-analytics-event="{&quot;category&quot;:&quot;Homepage&quot;,&quot;action&quot;:&quot;click item to scroll to Collaboration&quot;,&quot;label&quot;:&quot;ref_cta:Collaboration;&quot;}" href="#collaboration">Collaboration</a>
          <a class="sub-nav-mktg-link Link--primary no-underline py-1 py-lg-2 js-scrollnav-item js-smoothscroll-anchor" data-analytics-event="{&quot;category&quot;:&quot;Homepage&quot;,&quot;action&quot;:&quot;click item to scroll to Security&quot;,&quot;label&quot;:&quot;ref_cta:Security;&quot;}" href="#security">Security</a>
      </div>

        <div class="sub-nav-mktg-ctas ml-lg-3">
            <a class="btn-mktg ml-lg-2 mt-2 mt-lg-0 d-block d-lg-inline-block btn-muted-mktg" data-analytics-event="{&quot;category&quot;:&quot;Homepage&quot;,&quot;action&quot;:&quot;click to Start a free enterprise trial&quot;,&quot;label&quot;:&quot;ref_cta:Start a free enterprise trial;ref_loc:Homepage;&quot;}" href="/organizations/enterprise_plan?ref_cta=Start+a+free+enterprise+trial&amp;ref_loc=homepage+sticky+nav&amp;ref_page=%2F">
  Start a free enterprise trial

  <svg xmlns="http://www.w3.org/2000/svg" class="octicon arrow-symbol-mktg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill="currentColor" d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z"></path><path class="octicon-chevrow-stem" stroke="currentColor" d="M1.75 8H11" stroke-width="1.5" stroke-linecap="round"></path></svg>

</a>
            <a class="btn-mktg ml-lg-2 mt-2 mt-lg-0 d-block d-lg-inline-block" data-analytics-event="{&quot;category&quot;:&quot;Homepage&quot;,&quot;action&quot;:&quot;click to Sign up for GitHub&quot;,&quot;label&quot;:&quot;ref_cta:Sign up for GitHub;ref_loc:Homepage;&quot;}" href="/join?ref_cta=Sign+up+for+GitHub&amp;ref_loc=homepage+sticky+nav&amp;ref_page=%2F&amp;source=homepage-sticky-nav">
  Sign up for GitHub

  <svg xmlns="http://www.w3.org/2000/svg" class="octicon arrow-symbol-mktg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill="currentColor" d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z"></path><path class="octicon-chevrow-stem" stroke="currentColor" d="M1.75 8H11" stroke-width="1.5" stroke-linecap="round"></path></svg>

</a>
        </div>
    </div>
</div>
</div>

  <div class="home-campaign-productivity js-section overflow-hidden px-3 pb-8 pt-5" data-color-mode="dark" data-light-theme="light" data-dark-theme="dark" id="productivity">
  <div class="container-xl">

  <div class="d-flex js-build-in-trigger position-relative" data-build-in-stagger="100">
    <img alt="" aria-hidden="true" width="2712" height="2712" class="position-absolute top-0 right-0 height-auto col-11 events-none" loading="lazy" decoding="async" src="https://github.githubassets.com/images/modules/site/home-campaign/bg-stars-1.webp">

    <div class="col-1 d-flex flex-column flex-items-center position-relative">
      <img alt="" aria-hidden="true" width="81" height="485" style="left: calc(50% - 2px); height: auto; max-width: 9vw; transition-delay: 100ms;" class="d-none d-md-block position-absolute bottom-4 js-build-in-item build-in-scale-fade" loading="lazy" decoding="async" src="https://github.githubassets.com/images/modules/site/home-campaign/git-branch-productivity.svg">
    </div>

    <div class="col-11 ml-2 ml-md-6">
        <div class="river-mktg js-build-in-trigger d-flex flex-column gutter gutter-spacious flex-md-items-center my-3 my-sm-7 my-md-8 position-relative flex-column-reverse flex-md-row pb-4 pb-md-7" data-build-in-stagger="100">
    <div class="col-12 py-3 js-build-in-item col-sm-10 col-md-6 text-left col-lg-6 build-in-slideX-right" style="transition-delay: 0ms;">
      <div class="pr-md-4">




        <h3 class="color-fg-default mb-3 f2-mktg color-fg-muted"><em>GitHub Codespaces</em> offers a complete dev environment in seconds, so you can code, build, test, and open pull requests from any repo anywhere.</h3>

          <a class="link-mktg text-semibold color-fg-default py-1 f3-mktg" href="/features/codespaces" data-analytics-event="{&quot;category&quot;:&quot;Check out GitHub Codespaces&quot;,&quot;action&quot;:&quot;click to Check out GitHub Codespaces&quot;,&quot;label&quot;:&quot;ref_cta:Check out GitHub Codespaces;&quot;}">
    Check out GitHub Codespaces <svg xmlns="http://www.w3.org/2000/svg" class="octicon arrow-symbol-mktg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill="currentColor" d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z"></path><path class="octicon-chevrow-stem" stroke="currentColor" d="M1.75 8H11" stroke-width="1.5" stroke-linecap="round"></path></svg>

</a>

      </div>
    </div>

      <div class="col-12 py-3 col-md-6 col-lg-6">
        <div class="position-relative">

        <div class="d-flex flex-column position-relative">
          <div class="js-build-in-item build-in-slideX-left box-shadow-card-dark-mktg overflow-hidden rounded-2 position-relative z-2 flex-self-end" style="max-width: 300px; margin-top: -30%; margin-right: 10%; transition-delay: 100ms;">
            <img src="https://github.githubassets.com/images/modules/site/codespaces/illo-context-menu.png" alt="" width="600" height="524" loading="lazy" decoding="async" class="width-full d-block height-auto">
            <img src="https://github.githubassets.com/images/modules/site/codespaces/illo-cursor.png" alt="" loading="lazy" decoding="async" class="position-absolute js-build-in-item build-in-slideX-left height-auto" width="60" height="96" style="right: 20%; bottom: 23%; width: 30px; transition-delay: 200ms;">
          </div>
          <div class="js-build-in-item build-in-slideX-right box-shadow-card-dark-mktg overflow-hidden rounded-2 position-relative z-1 d-none d-sm-block" style="max-width: 373px; margin-top: -20%; transition-delay: 300ms;">
            <img src="https://github.githubassets.com/images/modules/site/codespaces/illo-ports.png" loading="lazy" width="746" height="368" alt="" decoding="async" class="width-full d-block height-auto">
          </div>
        </div>

        </div>
      </div>
</div>
      <div class="mb-6 mb-md-12 pb-3 js-build-in-trigger">
        <div class="py-3 js-build-in-item col-sm-10 col-md-6 text-left col-lg-6 build-in-slideX-left" style="transition-delay: 600ms;">
          <div class="gradient-border-mktg d-inline-block z-1 position-relative px-2 lh-condensed f6-mktg" style="top: -1px">
  <span class="text-semibold text-gradient-mktg">Did you know?</span>
</div>

            <h3 class="text-accent-primary mb-2 mt-3 h2-mktg text-medium">22% increase</h3>
            <p class="mb-3 f3-mktg text-medium col-6-max">in developer productivity<br>after three years with GitHub<sup>1</sup></p>
        </div>
      </div>
    </div>
  </div>





  <div class="col-1 d-flex flex-column flex-items-center js-build-in-trigger">
  </div>

  </div>
</div>
</div>
<div class="home-campaign-collaboration js-section overflow-hidden px-3 pb-8 pt-5" data-color-mode="dark" data-light-theme="light" data-dark-theme="dark" id="collaboration">
  <div class="container-xl">





  <div class="d-flex position-relative">
    <img alt="" aria-hidden="true" width="2712" height="2712" style="transform: translateX(300px) rotateZ(180deg);" class="position-absolute top-0 right-0 height-auto col-11 events-none" loading="lazy" decoding="async" src="https://github.githubassets.com/images/modules/site/home-campaign/bg-stars-1.webp">

    <div class="col-1 d-flex flex-column flex-items-center position-relative js-build-in-trigger">
      <img alt="" aria-hidden="true" width="81" height="612" style="left: calc(50% - 2px); height: auto; max-width: 9vw;" class="d-none d-md-block position-absolute bottom-4 js-build-in-item build-in-scale-fade" loading="lazy" decoding="async" src="https://github.githubassets.com/images/modules/site/home-campaign/git-branch-collaboration.svg">
    </div>

    <div class="col-11 ml-2 ml-md-6">
        <div class="river-mktg js-build-in-trigger d-flex flex-column gutter gutter-spacious flex-md-items-center my-3 my-sm-7 my-md-8 position-relative flex-column-reverse flex-md-row pb-4 pb-md-7" data-build-in-stagger="100">
    <div class="col-12 py-3 js-build-in-item col-sm-10 col-md-6 text-left col-lg-6 build-in-slideX-right" style="transition-delay: 0ms;">
      <div class="pr-md-4">




        <h3 class="color-fg-default mb-3 f2-mktg color-fg-muted"><em>GitHub Issues and GitHub Projects</em> supply flexible project management tools that adapt to your team alongside your code.</h3>

          <a class="link-mktg text-semibold color-fg-default py-1 f3-mktg" href="/features/issues" data-analytics-event="{&quot;category&quot;:&quot;Explore GitHub Issues&quot;,&quot;action&quot;:&quot;click to Explore GitHub Issues&quot;,&quot;label&quot;:&quot;ref_cta:Explore GitHub Issues;&quot;}">
    Explore GitHub Issues <svg xmlns="http://www.w3.org/2000/svg" class="octicon arrow-symbol-mktg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill="currentColor" d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z"></path><path class="octicon-chevrow-stem" stroke="currentColor" d="M1.75 8H11" stroke-width="1.5" stroke-linecap="round"></path></svg>

</a>

      </div>
    </div>

      <div class="col-12 py-3 col-md-6 col-lg-6">
        <div class="position-relative">

        <div class="d-flex flex-column position-relative">
          <div class="js-build-in-item build-in-slideY box-shadow-active-border-inverse-mktg overflow-hidden rounded-2 position-relative left-4 z-1" style="max-width: 595px; margin-top: -30%; transition-delay: 100ms;">
            <img src="https://github.githubassets.com/images/modules/site/home-campaign/illu-projects.png" alt="" loading="lazy" decoding="async" width="1190" height="1004" class="width-full height-auto d-block">
          </div>
        </div>

        </div>
      </div>
</div>
      <div class="mb-6 mb-md-12 pb-3 js-build-in-trigger">
        <div class="py-3 js-build-in-item col-sm-10 col-md-6 text-left col-lg-6 build-in-slideX-left">
          <div class="gradient-border-mktg d-inline-block z-1 position-relative px-2 lh-condensed f6-mktg" style="top: -1px">
  <span class="text-semibold text-gradient-mktg">Did you know?</span>
</div>

            <h3 class="text-accent-primary mb-2 mt-3 h2-mktg text-medium">80% reduction</h3>
            <p class="mb-3 f3-mktg text-medium col-6-max">in onboarding time with GitHub<sup>1</sup></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-1 d-flex flex-column flex-items-center js-build-in-trigger">
  </div>
  </div>
</div>

</main>

</div>

</body>
</html>