<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fuck_longmao</title>
</head>
<body>
<center>

<form action="/check" method="post">
  <h2>欢迎使用fuck_longmao</h2>

    <p>输入令牌：<input type="text" name="sword"></p>
    <p>
    <input type="submit">
    <input type="reset">
    </p>
</form>
<a href="http://101.43.119.83:8000">点这里购买令牌</a>
    <h3>qq群：603014308</h3>
    <br>
    <h5>q群每天发3个免费卡密</h5>
<br>
<h4>注意：获取的二维码只能用另一个设备打开才能扫码，不能保存二维码用微信识别，否则会失败</h4>
</center>
</body>
</html>
