<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function refreshQRCode() {
            fetch("/refresh_qrcode", {method: "GET"})
                .then(response => response.text())
                .then(data => {
                    var qrCodeImg = document.getElementById("qr-code");
                    qrCodeImg.setAttribute("src", "data:;base64," + data);
                })
                .catch(error => console.log(error));
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>fuck_longmao</title>
</head>
<body>
<script>alert("声明：本项目仅以学习逆向为目的，如将本项目用于其他途径造成后果，本人概不负责")</script>
<div>
    <div class="base">
        <center>
            <br><br><br><br>
            <h1 class="h0-mktg mt-sm-6 mt-md-11 mt-lg-9 mb-2 mb-sm-4 position-relative z-2"
                style="font-weight: 600 !important; -0.03:m !important; color: #1f2020">
                Welcome to Fuck_LM
            </h1>
            <p class="d-block">如使用本项目，默认您同意承担由该行为带来的一切后果，与开发者无关。</p>
            <img style="width:180px" id="qr-code" src="data:;base64,{{ img_stream }}" alt="QR Code">
            <br>
            <button id="refresh-btn" type="button" onclick="refreshQRCode()">刷新二维码</button>
            <br><br>
            <button onclick="myFunction()">start run!</button>
            <br><br>
            <button onclick="myFunction_morning()">fuck morning!</button>
            <br><br>
            <script>
                function myFunction() {
        fetch('/fuck', {
            method: 'GET'
        })
            .then(response => response.json())  // 将响应转换为 JSON 格式
            .then(data => {
                // 弹出一个提示框，展示响应内容和请求结果
                alert("阳光跑已提交，自行检查是否有记录，不要重复提交！\n请求结果： " + data.result);
            })
            .catch(error => {
                // 发生错误时显示错误信息
                console.error('Error:', error);
            });
    }
            </script>
            <script>
                function myFunction_morning() {
        fetch('/fuck_morning', {
            method: 'GET'
        })
            .then(response => response.json())  // 将响应转换为 JSON 格式
            .then(data => {
                // 弹出一个提示框，展示响应内容和请求结果
                alert("早操签到已提交，自行检查龙猫校园是否有记录，不要重复提交！\n请求结果： " + data.result);
            })
            .catch(error => {
                // 发生错误时显示错误信息
                console.error('Error:', error);
                alert(error);
            });
    }
            </script>
            <p class="d-block">注意：获取的二维码只能用另一个设备打开才能扫码，不能保存二维码用微信识别，否则会失败</p>
            <p class="d-block">技术交流群：603014308</p>
            <p class="d-block">提交失败请刷新页面重试，出现bug请加群联系群主</p>
        </center>
    </div>
    <div class="base2">
    </div>
</div>
</body>
</html>
